:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: var(--text-color-light); /* Default to light mode */
  --bg-color: var(--bg-color-light); /* Default to light mode */
  --bg-color-light: rgba(255, 255, 255, 0.87);
  --text-color-light: #000000;
  --bg-color-dark: #242424; /* Dark mode background color */
  --text-color-dark: #FFFFFF; /* Dark mode text color */
  --infobox-shadow: rgba(8, 3, 3, 0.3); /* Default shadow color for light mode */
  --sidebar-bg: #FFFFFF; /* Default background for sidebar */
  --table-row-bg: #EBF9F1; /* Default light mode background color for table rows */
  --table-row-text: #000000;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-theme {
  --text-color: var(--text-color-light);
  --bg-color: var(--bg-color-light);
  --table-row-bg-light: #EBF9F1; /* Light mode background color for table rows */
  --table-row-text-light: #000000; /* Light mode text color for table rows */
  --sidebar-bg: #FFFFFF; /* Light mode background for sidebar */
  --infobox-shadow: rgba(8, 3, 3, 0.3); /* Original shadow color for light mode */
}

/* Dark Theme */
.dark-theme {
  --text-color: var(--text-color-dark);
  --bg-color: var(--bg-color-dark);
  --table-row-bg-dark: #76C657; /* Dark mode background color for table rows */
  --table-row-text-dark: #000000; /* Dark mode text color for table rows */
  --sidebar-bg: #1b1b1b; /* Dark mode background for sidebar */
  --infobox-shadow: rgba(65, 125, 168, 0.3); /* Fading blue shadow for dark mode */
}

a {
  font-weight: 500;
  color: green;
  text-decoration: inherit;
}
a:hover {
  color: green;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

:root, body {
  transition: background-color 0.3s, color 0.3s;
  /* Add other properties as needed */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  position: absolute;
  top: 0;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}